.projects {
    height: max-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 40px;
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1249px) {
    .projectsWrapper {
        justify-content: center;
    }
}