.projects {
    height: max-content;
    /*background-color: #1f1f20;*/
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1253px) {
    .projectsWrapper {
        justify-content: center;
    }
}