.slogan {
    display: flex;
    justify-content: center;
    height: max-content;
    background-color: #252527;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1600px;
    padding: 80px 0;
}

.btnSubmit {
    max-width: 180px;
    color: #ffffff;
    border: none;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    margin-top: -30px;
    padding: 6px 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.btnSubmit:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 10px;
    background-color: #7f00ff;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    left: 50%;
    transform: translate(-50%);
}

.btnSubmit:hover:after {
    width: 100%;
    height: 100%;
}