.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.container {
    flex-wrap: wrap;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 16px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-weight: 700;
    font-stretch: normal;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 430px;
    height: 20px;
    background-color: #ea548d;
    bottom: -3px;
    z-index: -1;
}

h1 {
    font-size: 27px;
}

.photo {
    margin-top: 50px;
    position: relative;
    z-index: 0;
    transition: 0.5s;
}

.photo:hover {
    transform: scale(1.1, 1.1);
}

.image {
    height: 400px;
    width: 300px;
    background-color: #ffffff;
}

.photo .image:before {
    content: "";
    position: absolute;
    height: 430px;
    width: 300px;
    border: 5px solid #ea548d;
    left: 15px;
    top: -20px;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .image {
        height: 360px;
        width: 260px;
    }

    .photo .image:before {
        height: 390px;
        width: 260px;
    }
}