@import "../../styles/variables";

.main {
  min-height: 100vh;
  height: max-content;
  display: flex;
  justify-content: center;
}

.container {
  flex-wrap: wrap;
  width: 80%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    font-size: 18px;
    margin-bottom: 5px;
  }

  span:nth-child(2),
  span:nth-child(2) span {
    font-weight: 700;
    font-stretch: normal;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-family: $titleFont;
    position: relative;
    z-index: 0;
  }

  span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 102%;
    height: 20px;
    background-color: $accentColor;
    bottom: -1px;
    z-index: -1;
  }
}

h1 {
  font-size: 27px;
}

.photo {
  margin-top: 60px;
  position: relative;
  z-index: 0;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.image {
  height: 400px;
  width: 300px;
  background-image: url(./../../assets/img/avatar.png);
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    height: 430px;
    width: 300px;
    border: 5px solid $accentColor;
    left: 15px;
    top: -20px;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .image {
    height: 360px;
    width: 270px;

    img {
      position: relative;
      right: 25px;
      width: 111%;
    }
  }

  .photo .image:before {
    height: 390px;
    width: 270px;
  }
}

@media screen and (max-width: 1180px) {
  .main {
    padding: 100px 0;
  }
}