.skills {
    height: max-content;
    background-color: #252527;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.skillsWrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1128px) {
    .skillsWrapper {
        flex-direction: column;
        align-items: center;
    }
}