.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 60px;
  height: max-content;
  position: relative;

  a {
    overflow: hidden;
  }
}

.projectLink {
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  &:hover .projectImg {
    filter: blur(5px) brightness(0.6);
  }

  &:hover span {
    color: white;
  }
}

.projectImg {
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in-out 0s;
}

.projectTitle {
  margin: 20px 15px 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
}

.description {
  margin: 0 15px 20px;
}