.header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    max-width: 1600px;
}
