.header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}
