.navMenu {
    display: flex;
    justify-content: space-between;
    width: 360px;
    color: #000000;
}

.navMenu a {
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0 2px 0 1px;
}

.navMenu a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 40%;
    background-color: #7f00ff;
    bottom: 1px;
    right: 0;
    /*left: auto;*/
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover:after {
    width: 100%;
    left: 0; right: 0;
}

/*.navMenu a:before{*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: auto;*/
    /*right: 0;*/
    /*height: 50%;*/
    /*width: 0%;*/
    /*background: #ea548d;*/
    /*!*z-index: 1;*!*/
    /*transition: all 300ms ease;*/
/*}*/

/*.navMenu a:before:hover {*/
    /*content: '';*/
    /*width: 100%;*/
    /*left: 0; right: 0;*/
/*}*/