.contacts {
    display: flex;
    justify-content: center;
    height: max-content;
    /*background-color: #1f1f20;*/
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 80px 0;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: -40px;
}

.formArea,
.messageArea {
    background-color: #252527;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    outline: none;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin-bottom: 1.2rem;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out 0s;
}

.formArea:focus,
.messageArea:focus {
    border-color: transparent;
}

.formArea {
    height: calc(1.5em + .75em + 2px);
    padding: .375rem 15px;
}

.messageArea {
    min-height: 160px;
    padding: 15px;
}

.btnSubmit {
    max-width: 180px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    position: relative;
}

.btnSubmit:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 10px;
    background-color: #ea548d;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.btnSubmit:hover:after {
    width: 100%;
    height: 100%;
}
.btnSubmit:hover {
    cursor: pointer;
}

@media screen and (max-width: 688px) {
    .formWrapper {
        width: 100%;
    }
}